html {font-size: 20px;
  font-family: 'Rubik', sans-serif;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #708090;
  text-shadow: 3px 3px 1px black;
}
#sobre {
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
body {
  width: 800px;
  margin: 0 auto;
  background-color: #D3D3D3;
  padding: 0 25px 25px 25px;
  border: 5px solid black;
}
#footer {
    text-align: center;
    background: #DCDCDC;
    padding: 5px 0;
}